body {
  margin: 0px;
  background: #121212;
}
section {
  width: 10%;
  height: 100vh;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  background: #121212;
}
.logo img {
  max-width: 250px;
}
.flex-row {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}
h2 {
  font-size: 40px;
  font-family: monospace;
  letter-spacing: 10px;
}
p {
  font-family: monospace;
  font-size: 16px;
}
span.box {
  width: 30%;
  border: 1px solid;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  span.box {
    margin: 0px;
    width: 100%;
    margin-bottom: 10px;
  }
  .flex-row {
    display: inline-grid;
    width: 100%;
  }
}

.anim-heading {
  color: #ffffff;
}
a {
  text-decoration: none;
  font-weight: 600;
  color: #c9a62d;
}
.anim-heading {
  overflow: hidden;
  white-space: nowrap;
  margin-right: auto;
  margin-left: auto;
  animation: typing 5.5s steps(40, end);
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
p i {
  color: #262362;
  margin-right: 7px;
}
